/* * {
	border: 1px solid #9b9898;
	margin: 0;
	padding: 0%;
} */
html {
	box-sizing: border-box;
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.center {
	justify-content: center;
}
.gap-10 {
	gap: 10px;
}
.gap-20 {
	gap: 20px;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-basis {
	flex-basis: 20%;
}
.flex-start {
	justify-content: flex-start;
}
.grow {
	flex-grow: 1;
}
.space-between {
	justify-content: space-between;
}
svg {
	font-size: 2rem;
}
.add-favorite svg {
	fill: #9f9f9f;
}
.remove-favorite svg {
	fill: red;
}
li {
	list-style-type: none;
}
.image-relative {
	position: relative;
	display: inline-block;
}
.fav-heart {
	position: absolute;
	top: 0;
	right: 0;
}
img {
	width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a,
button {
	color: #ffffff;
}
h1 {
	font-family: "Russo One", sans-serif;
	font-size: 3rem;
}
header {
	padding: 20px;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 0.5681460084033614) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}

//colors:

.peach {
	background-color: #ff6666;
}
.violet {
	background-color: #9933ff;
}
.lime {
	background-color: #00ff99;
}
.yellow {
	background-color: #fff53c;
}
.aqua-blue {
	background-color: #00ccff;
}
.text-white {
	color: #ffffff;
}
.background-dark {
	background-color: #2c2e2c;
}
html {
	background-color: #2c2e2c;
	height: 100%;
}
html,
body {
	height: 100%;
}
nav {
	padding: 20px 40px;
	border-bottom: 1px solid #9933ff;
}
form {
	width: 100%;
}
select:invalid {
	color: green;
}
.search-section button,
[type="submit"] {
	background-color: #3191ff;
	color: #ffffff;
	padding: 0 32px;
}

.search-section button:hover,
[type="submit"]:hover {
	background-color: #00ccff;
}
